
<h2>
Summary of Workouts
</h2>

<p>
Total Number of Workouts Performed: 
</p>
<p>
Total Number of Exercises Performed:
</p>
<p>
Total Number of Reps Performed: 
</p>
<p>
Total Number of Sets Performed: 
</p>



<h2>
Heaviest Lifts (Weight) by Exercise
</h2>
