
<h2>
Summary of Workouts
</h2>

<p>
Total Number of Workouts Performed: <%= @workouts.count %>
</p>
<p>
Total Number of Exercises Performed: <%= @exercises.count %>
</p>
<p>
Total Number of Reps Performed: 
</p>
<p>
Total Number of Sets Performed: 
</p>
<p>
Last Workout Date: <%= @list_of_workouts.at(0).date %>
</p>


<h2>
Heaviest Lifts (Weight) by Exercise
</h2>
